@use "../../index.scss" as *;

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        color: $primary-color;
        text-align: center;
    }

    img {
        max-width: 300px;
        width: 80%;
        height: auto;
    }
}