@use "../../../../index.scss" as *;

.participateBg {
    width: 100%;
    background-color: $standard-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .participateContainer {
        position: relative;
        width: 1131px;
        height: 500px;
        background-color: $secondary-bg;
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 50px;

        .participateText {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 123px;

            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 3px;
                color: $primary-color;
                font-size: 2.5rem;
                font-weight: bolder;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 6px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    list-style: none;

                    p {
                        color: $primary-color;
                        font-size: 1.25rem;
                        font-weight: bolder;
                    }
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $primary-bg;
                color: $standard-color;
                width: 261px;
                height: 50px;
                border-radius: 10px;
                cursor: pointer;
            }
        }

        figure {
            img {
                position: absolute;
                object-fit: cover;
                top: 11px;
                right: 0px;
                border-radius: 0px 0px 50px 0px;
            }
        }
    }
}
@media (min-width: 481px) and (max-width: 1199px) { 
    .participateBg {
    
        .participateContainer {
            width: 95%;
            height: 851px;

            flex-direction: column-reverse;
    
            .participateText {
                margin-left: 0px;
                align-items: center;
    
                h2 {
                    font-size: 2.5rem;
                }
    
                ul {
    
                    li {
    
                        p {
                            font-size: 1.25rem;
                        }
                    }
                }
            }
    
            figure {
                img {
                    top: 362px;
                    right: 168px;
                    border-radius: 0px 0px 0px 0px;
                }
            }
        }
    }
}
@media (max-width: 481px) { 
    .participateBg {
    
        .participateContainer {
            width: 95%;
            height: 100%;
            position: static;

            flex-direction: column;
    
            .participateText {
                
                margin-left: 0px;
                align-items: center;
                margin-top: 20px;
    
                h2 {
                    font-size: 1.2rem;
                }
    
                ul {
                    width: 95%;
    
                    li {
                        
                        img {
                            width: 30px;
                        }
    
                        p {
                            font-size: 1rem;
                        }
    
                    }
                }

                .partipateImgMobile {
                    width: auto;
                    height: auto;
                    display: flex;

                    img {
                        display: flex;
                        position: static;
                        width: 300px;
                        height: auto;
                        border-radius: 0px;
                    }
                }
            }
    
            .participateImgDesktop {

                img {
                    display: none;
                    top: 294px;
                    right: 30px;
                    border-radius: 15px 15px 15px 41px;
                    width: 90%;
                }
            }
        }
    }
}