@use "../../../../index.scss" as *;

.informationsBg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-bg;
    width: 100%;
    height: 500px;
    margin-top: 60px;

    .informationsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        

        .informationsText {
            display: flex;
            flex-direction: column;
            gap: 25px;
            width: 707px;
            margin-bottom: 1.25rem;

            h2 {
                color: $standard-color;
                font-size: 29px;
                font-weight: normal;
                line-height: 45px;
            }

            p {
                color: $standard-color;
                font-size: 20px;
                font-weight: normal;
                width: 497px;
                line-height: 35px;
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $secondary-color;
                color: $standard-color;
                width: 261px;
                height: 50px;
                border-radius: 10px;
                cursor: pointer;
            }
            
        }

        figure {

            img {
                width: 403px;
                height: 481px;
            }

            figcaption {
                
            }
        }
    }
}