@use "../../index.scss" as *;

.buttonBrown {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    max-width: 450px;
    height: 45px;
    width: 100%;
    background-color: $primary-bg;
    font-family: 16px;
    font-weight: bolder;
    color: $standard-color;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
    svg {
        font-size: 22px;
    }
}