@use "../../index.scss" as *;

.footerBg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-bg;
  width: 100%;
  color: $standard-color;
  margin-top: 60px;
  padding: 20px 0;

  .footerContainer {
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

    .textContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      .informationsContainer {
        width: 90%;
        display: flex;
        justify-content: space-around;
        list-style: none;
        text-align: center;
        flex-wrap: wrap;

        li {
          min-width: 150px;
          margin-bottom: 10px;

          h3 {
            font-size: 18px;
            font-weight: normal;
          }

          p {
            font-size: 14px;
          }

          a {
            font-size: 14px;
            color: $standard-color;
            text-decoration: none;
          }
        }
      }

      .containerRedes {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        text-align: center;

        div {
          display: flex;
          align-items: center;
          gap: 10px;

          h3 {
            font-family: "Spicy Rice", serif;
            font-weight: normal;
            font-size: 28px;
          }

          img {
            width: 40px;
            height: auto;
          }
        }

        p {
          font-size: 14px;
          font-weight: normal;
          margin-top: 10px;
        }

        a {
          color: $standard-color;
        }

        ul {
          display: flex;
          list-style: none;
          gap: 10px;
          justify-content: center;

          li {
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
      }
    }
  }
}

/* Responsividade para tablet e celular */
@media (max-width: 968px) {
  .footerBg {
    .footerContainer {
      .textContainer {
        .informationsContainer {
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }

        .containerRedes {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
