* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

// Estilo para esconder o figcaption
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
}

.sora {
  font-family: "Sora", sans-serif;
}

$primary-bg: #4B2308;        
$secondary-bg: #DD8B18;
$standard-bg: #ffffff;

$primary-color: #4B2308;
$secondary-color: #DD8B18;
$standard-color: #ffffff;