* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

.spicy-rice-regular {
  font-family: "Spicy Rice", serif;
}

.sora {
  font-family: "Sora", sans-serif;
}

$primary-bg: #4B2308;        
$secondary-bg: #DD8B18;
$standard-bg: #ffffff;

$primary-color: #4B2308;
$secondary-color: #DD8B18;
$standard-color: #ffffff;